[project]
	description = All my algorithm for sport programming
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Alexander (ZaMaZaN4iK)
[access "refs/for/refs/*"]
	read = group user/Alexander (ZaMaZaN4iK)
	push = group user/Alexander (ZaMaZaN4iK)
	label-Code-Review = -2..+2 group user/Alexander (ZaMaZaN4iK)
	label-Verified = -1..+1 group user/Alexander (ZaMaZaN4iK)
	rebase = group user/Alexander (ZaMaZaN4iK)
	removeReviewer = group user/Alexander (ZaMaZaN4iK)
	submit = group user/Alexander (ZaMaZaN4iK)
[access "refs/heads/*"]
	read = group user/Alexander (ZaMaZaN4iK)
	create = group user/Alexander (ZaMaZaN4iK)
	push = +force group user/Alexander (ZaMaZaN4iK)
	pushMerge = group user/Alexander (ZaMaZaN4iK)
[access "refs/tags/*"]
	push = +force group user/Alexander (ZaMaZaN4iK)
	pushTag = group user/Alexander (ZaMaZaN4iK)
	pushSignedTag = group user/Alexander (ZaMaZaN4iK)
